body{
  font-size: 0.8rem;
}
.header-main .navbar{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
 }
 .showcase{
  grid-template-columns:auto auto;
  height: 700px;
  grid-gap: 0px;
}
.showcase a{
  right: -240px;
}
.showcase .showcase1 a{
  right: -271px;
}
.showcase .showcase1 h2, .showcase .showcase1 p {
  left: 10px;
  padding: 0px 30px;
}
.showcase .showcase3{
  padding: 0;
}
.section2{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 3fr 1fr;
  grid-column-gap: 25px;
}
.section2 .sectio2-left-div1{
  padding: 0 10px;
}
.section2 .sectio2-left-div1 h2{
  font-size: 1.7rem;
}
.section2 .sectio2-left-div1 img{
  width: 400px;
}
.section2 .sectio2-right-div1 img{
  width: 400px;
}
.section2 .sectio2-left-div1 h3 i,
.section2 .sectio2-right-div1 h3 i{
  margin-left: 0;
}
.section3{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section3 .section3-left{
  padding: 60px 10px 40px 80px;
}