*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Didact Gothic', sans-serif;
  background-color: #fff;
  font-size: 1rem;
}
.secondary-container{
  margin: 0 auto;
  max-width: 1100px;
  background-color: #fff;
  overflow: hidden;
}
.primary-container{
  margin: 0 auto;
 max-width: 800px;
 overflow: hidden;
}
/* utilities */
.m-t1{margin-top: 3rem;}
.m-t2{margin-top: 5rem;}
.m-t3{margin-top: 7rem;}
.m-t4{margin-top: 9rem;}
.m-b1{margin-bottom: 2rem;}
.m-b2{margin-bottom: 5rem;}
.m-b3{margin-bottom: 7rem;}
.heading{
  font-family: 'Times New Roman', Times, serif;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}
.btn{
  display: inline-block;
  background-color: black;
  color: white;
  font-weight: 500;
  padding: 10px 40px 10px 40px;
  border: 1px solid black;
  transition-property: color;
  transition-duration: 2s ease-in-out;
}
.btn:hover{
  background-color: white;
  color: black;
}
/* navigation bar */
.header-main .navbar{
 display: grid;
 grid-template-columns: 1fr 3fr 1fr;
 padding: 15px;
 justify-content: center;
}
.header-main .navbar img{
  width: 100px;
  height: 80px;
}
.header-main .navbar ul{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding:10px;
}
.header-main .navbar ul li a{
  margin: 20px;
}
.navbar .nav-end{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 5px;
}
.navbar .nav-end img,
.navbar .nav-end i{
  width: 20px;
  height: 20px;
  margin: 0px 5px 5px 35px;
  cursor: pointer;
}
.navbar .nav-end i{
  margin: -1px 0;
}
/* showcase */
.showcase{
  display: grid;
  grid-template-columns:1fr 1fr;
  height: 700px;
  grid-gap: 0px;
}
.showcase .showcase1{
  grid-row-start: 1;
  grid-row-end: 3;
  height: 700px;
  padding: 10rem 0;
  border-right: 2px solid gray ;
}
.showcase .showcase1 img{
  width: 280px;
  height: 200px;
  transform: rotate(133deg);
  margin-left: -44px;
}
.showcase .showcase1 h2,
.showcase .showcase1 p{
  position: relative;
  top: -135px;
  left: 27px;
}
.showcase a{
  position: relative;
  bottom: -50px;
  right: -300px;
  font-weight: bold;
  border-bottom: 5px solid black;
  padding: 0px 0px 5px 40px;
}
.showcase .showcase1 a{
  position: relative;
  bottom: 40px;
  right: -325px;
}
.showcase p{
 font-size: 0.5rem;
 line-height: 3rem;
}
.showcase .showcase2,.showcase .showcase3{
  margin: 0 auto;
}
.showcase .showcase3{
  border-top: 2px solid gray;
  padding: 0rem 3.9rem;
}
/* section1 */
.section1 img{
  width: 100px;
  height: 80px;
}
.section1 .section1-img{
  margin: 0 auto;
}
.section1 .section1-div{
  text-align: center;
}
.section1 .section1-div span{
  line-height: 3rem;
}
/* section2 */
.section2{
  display: grid;
  grid-template-columns: 550px 550px;
  grid-template-rows: 3fr 1fr;
  grid-column-gap: 25px;
}
.section2 .sectio2-left-div1{
  border-right: 2px solid gray;
}
.section2 .sectio2-left-div1 h2{
  font-size: 2.3rem;
}
.section2 .sectio2-left-div1 img{
  width: 530px;
}
.section2 .sectio2-right-div1 h3,
.section2 .sectio2-right-div1 p{
  padding: 10px;
}
.section2 .sectio2-right-div2 h3,
.section2 .sectio2-right-div2 p{
  padding: 10px;
}
.section2 .sectio2-left-div1 p{
  line-height: 2rem;
}
.section2 .sectio2-left-div2{
  border-right: 2px solid grey;
}
.section2 .sectio2-right-div1 img{
  width: 530px;
}
/* section 3 */
.section3{
  display: grid;
  grid-template-columns: 550px 550px;
  background-color: black;
  color: #fff;
  height: 1000px;
}
.section3 .section3-right,
.section3 .section3-left{
  margin: auto auto;
}
.section3 .section3-left{
  display: grid;
  grid-template-rows: 50px 200px 450px;
  padding: 60px 10px 40px 110px;
}
.section3 .section3-left h3{
  font-weight: 100;
}
.section3 .section3-left h3,
.section3 .section3-left h4,
.section3 .section3-left a{
  margin: auto 0;
  line-height: 2rem;
}
.section3 .section3-left a{
  color: #fff;
  position: relative;
  display: inline-block;
  width: 160px;
  bottom: -92px;
  font-weight: bold;
  border-bottom: 7px solid white;
  padding: 0px 0px 5px 97px;
}
.section3 .section3-right{
  background: url("./img/morre-christophe-H_bPgEdHjKU-unsplash.png") repeat center center/cover;
  height: 700px;
  width: 100%;
}
.flex-s3{
  display: flex;
  text-align: center;
  position: relative;
  bottom: -600px;
  right: -60px;
}
.flex-s3-1{
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 0px 25px;
  line-height: 2rem;
}
.flex-s3-1 h2{
  font-size: 2.4rem;
}
.flex-s3-2{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background:white;
}
.flex-s3-2 i{
  z-index: 1;
  color: black;
  margin: 20px 16px;
}
.section3 .section3-right .section3-right-icons{
  width: 98px;
  padding: 2px 0px 0px 0px;
  border-radius: 25px;
  color: black;
  text-align: center;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  bottom: -60px;
  height: 25px;
}
.section3-right{
  margin: auto auto;
  width: 75%;
}
.section3 .section3-right .section3-right-icons i{
  margin: 0px 5px;
  color: black;
}
/* section 4 */
.section4 textarea{
  outline: grey;
  text-align: center;
  color: grey;
  margin: 0 44px;
  font-size: 2rem;
}
::-webkit-input-placeholder {
  color: grey;
  font-size: 1.5rem;
  text-align: center;
  align-self: center;
  padding-top: 15px;
}
.section4-subcribe{
  text-align: center;
}
/* section5 */
.section5 {
  display: grid;
  grid-template-columns: 588px 210px;
}
.section5 .section5-left-div img{
  width: 580px;
  height: 550px;
}
.section5 .section5-right-div{
  display: grid;
  grid-template-rows: 220px 85px 85px;
  align-items: end;
}
.section5 .section5-right-div .north {
  border-bottom: 1px solid grey;
  width: 172px;
  font-size: 1.1rem;
}
.section5 .section5-right-div :nth-child(2){
  font-size: 2rem;
}
.section5 .section5-right-div :last-child{
  font-weight: 800;
}
.section6 .section6-btn{
  text-align: center;
}
.section6 .section6-btn a{
  width: 150px ;
  text-align: center;
  margin: 0px 0px 0px 18px;
  border: 1px solid grey;
}
.color-chnge{
  background-color: grey;
}
/* footer-main */
.footer-main{
  display: grid;
  grid-template-rows: 50px 135px 170px;
  color: grey !important;
}
.footer-main .footer-ul ul,
.footer-main .footer-icons,
.footer-main .footer-policy{
  display: flex;
  justify-content: center;
  text-align: center;
  color: grey !important;
}
 .footer-main .footer-ul ul li{
  padding: 40px;
}
.footer-main a,.footer-main i,
.footer-ul ul li{
  color: grey !important;
}
.footer-main i{
  margin: 0 15px;
}
.footer-main .footer-policy{
  justify-content: space-evenly;
}

